.grid {
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(7, 5rem);
}
.mem,
.input {
  font-size: 1.5rem;
  text-align: right;
}
.mem {
  grid-row-start: 1;
  grid-column-end: span 4;
}
.input {
  grid-row-start: 2;
  grid-column-end: span 4;
}
.mod {
  grid-row-start: 3;
  grid-column-end: span 3;
}
.ops {
  grid-row-start: 3;
  grid-row-end: span 5;
  grid-column-start: 4;
}
.num {
  grid-row-start: 4;
  grid-row-end: span 4;
  grid-column-start: 1;
  grid-column-end: span 3;
}

button {
  width: 5rem;
  height: 5rem;
  font-size: 1.5rem;
}
.mod button {
  width: 50%;
  background-color: grey;
}
.ops button {
  background-color: orange;
}
.num button {
  background-color: white;
}
