.mem,
.input {
  display: block;
}

.main {
  max-width: 420px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'mem mem mem mem'
    'inp inp inp inp'
    'mod mod mod ops'
    'num num num ops'
    'num num num ops'
    'num num num ops'
    'num num num ops';
  grid-auto-columns: 1fr;
}
.subgrid {
  display: grid;
}

button {
  font-size: 2em;
  border: 1px solid #000;
  padding: 0;
}

.mod button {
  background-color: #ddd;
}
.ops button {
  background-color: orange;
}
.num button {
  background-color: #efefef;
  flex: 1 0 26%;
}

.mem {
  grid-area: mem;
}

.input {
  grid-area: inp;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}
.mod {
  grid-area: mod;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.ops {
  grid-area: ops;
}
.num {
  grid-area: num;
  display: flex;
  flex-wrap: wrap;
}
